

.logo-icon {
    font-size: 4rem;
    color: #343360;
}

.toggle-menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toggle-menu-button > *{
    font-size: 2rem;
}

.nav-link {
    color: #343360;
}